.userdash {
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 55px;
  margin-right: 10px;
  font-size: 15px;
}

.nav {
  width: 100%;
  height: 55px;
  background-image: url(/Nav.jpg);
  line-height: 50px;
  padding: 0px 60px;
  display: block;
  top: 0;
  position: fixed;
  z-index: 10;
}


.span {
  color: white;
  font-size: 25px;
  display: none;
  float: right;
  cursor: pointer;
  float: right;
}

#check {
  display: none;
}

.nav .logo {
  float: left;
  font-size: 22px;
  cursor: pointer;
  font-weight: 800;
  font-family: 'Source Sans Pro', 'Arial';
  letter-spacing: 1.7px;
  color: white;
}

.nav ul {
  float: right;
  display: block;
  margin-right: -35px;
}

.nav ul li {
  list-style: none;
  display: inline-block;
}


.nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  /* padding: 0px 13.5px; */
  padding: 21px;
  color: white;
  letter-spacing: 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.nav ul li a:hover {
  background-color: black;
  cursor: pointer;
}


@media screen and (min-width:1197px) {
  .nav ul {
    display: block !important;
  }
}


@media screen and (max-width:1197px) {
  .nav {
    padding: 0px 0px;
    position: relative;
    /* position: sticky; */
  }

  .nav .logo {
    margin-left: 20px;
    font-size: 20px;
  }

  .span {
    display: block;
    margin-right: 20px;
  }

  .nav ul {
    width: 100%;
    background-image: url(/Nav.jpg);
    display: none;
    text-align: center;
    transition: 0.5s ease;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -2px;
    border-bottom: 1px solid grey;
  }

  .nav ul li {
    display: block;
  }
}


/*-------------------------         Navbar ------------------------------------------------- */




/*-------------------------         Footer   ------------------------------------------------- */

.footercopyright {
  margin-top: 20px;
  font-weight: 700;
  word-spacing: 1.5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: black;
}

/*-------------------------         Footer   ------------------------------------------------- */